.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover__background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  max-width: 1184px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.cover__link::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .cover__link {
    min-height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 758px) {
  .cover__link {
    min-height: 200px;
    max-width: 320px;
  }
}