.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  min-width: 320px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px 48px 24px;
}