.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 28px 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .page {
    padding-left: 0;
    padding-right: 0;
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 758px) {
  .page {
    padding-top: 16px;
    max-width: 320px;
  }
}