.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: auto;
  max-width: 1184px;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .photo-grid {
    max-width: 320px;
    margin: 0 16px;
    grid-template-columns: 288px;
    gap: 12px;
  }
}