.place {
  display: grid;
  gap: 48px 40px;
  grid-template-areas: 
  'title webcite'
  'image text';
}

@media screen and (max-width: 1124px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-areas: 
    'title'
    'webcite'
    'image'
    'text';
    grid-row-gap: 32px;
  }
}
