.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .lead {
    margin: 0 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    margin: 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 569px) {
  .lead {
    max-width: 320px;
  }
}