.footer__link {
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
}

.footer__link:last-child {
  margin: 0;
}

@media screen and (max-width:758px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px;
  }
}