.footer__copyright {
  margin: 0;
  max-width: 186px;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
}

@media screen and (max-width: 758px) {
  .footer__copyright {
    line-height: 14px;
    align-self: flex-start;
    margin-top: 48px;
  }
}