.intro {
  max-width: 690px;
  margin: 0 0 0 100px;
}

@media screen and (max-width: 1124px) {
  .intro {
    margin: 0 0 0 48px;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    max-width: 320px;
  }
}