.cover {
  min-height: 740px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px){
  .cover {
    min-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px){
  .cover {
    min-height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 758px){
  .cover {
    min-height: 200px;
    max-width: 320px;
  }
}