.header__lang-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 18px 0 6px;
  align-self: center;
  margin-bottom: 6px;
}

@media screen and (max-width: 758px) {
  .header__lang-links {
    margin: 14px 0 8px;
  }
}